<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Canzoni</title>
    <div th:replace="fragments :: bootstrapCss"></div>
  </head>
  <div th:replace="fragments :: navbar"></div>
  <body>
    <h1 class="text-center">Canzoni</h1>
    <!-- PARTE1 -->
    <!-- <div th:text="${canzoniFormat}"> 
    </div> -->
    <div th:insert="fragments :: table-head">
      <div th:replace="fragments :: table-body"></div>
    </div>
    <div th:replace="fragments :: bootstrapJs"></div>
  </body>
</html>
